
@media (max-width: 600px) {
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    
    background: linear-gradient(180deg, rgba(15, 199, 24, 0.096) 82.08%, rgba(173, 193, 247, 0.38) 100%); 
    
    /*
    background: blanchedalmond; */

    min-height: 100vh;

    
}
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    
    
    background: linear-gradient(180deg, rgba(15, 199, 24, 0.096) 82.08%, rgba(173, 193, 247, 0.38) 100%); 
    
    /*
    background: blanchedalmond; */

    min-height: 100vh;
    /* BACKGROUND GYM BOX
    background-image: url(https://wallpaperaccess.com/full/1087589.jpg); */

    /* BACKGROUND GYM RUSSO
    background-image: url(https://www.encorefitness.ru/upload/resize/84/845ddc81f86affe269e752621d2ccaf8_1024x2000.jpg);
    */
   
    
    background-image: url(https://static.vecteezy.com/ti/vetor-gratis/p1/7190735-mma-octagon-arena-palco-fundo-gratis-vetor.jpg);
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.guga {
    height: 150px;
    width: 150px;
}

.page {
    width: 1000px;
    
    margin: 0 auto 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 100vh;
}

.chute {
    width: 550px;
    margin-top: -90px;
}

nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 55px;
    
}

ul {
    display: flex;
    list-style: none;
    gap: 60px;
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
    
}

ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    line-height: 23px;
    
    border-radius: 10px;
    border: solid 2px rgb(13 151 42);
    padding: 2px;
}

/* Pseudo class */
ul li a:hover{
    color: rgb(13 151 42);
    font-weight: bold;
    cursor: pointer;
    opacity: 1;
  
}

main {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 43px;
    
}

h1 {
    font-family: 'Mulish', sans-serif;
    font-weight: bold;
    font-size: 49px;
    line-height: 56px;
    margin-top: -10px;
    width: 439px;
    color: #ffffff;

}

h1 span {
    color: #0d972a;
    font-weight: bold;
}

p {
    color: #ffffff;
    margin: 60px 0;
    width: 439px;
    font-size: 14px;
    line-height: 28px;
}

.btm {
    display: flex;
    gap: 60px;
    margin-top: 100px;
}

.app {
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    color: #F9F9F9;
    background: #69B99D;
    border: 0px;
    border-radius: 25px;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 14px 32px 15px;
    gap: 10px;
    font-size: 16px;
    line-height: 21px;
    cursor: pointer;
    
}

.inst {
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    color: #F9F9F9;
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
    border: 0px;
    border-radius: 25px;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 14px 32px 15px;
    gap: 10px;
    font-size: 16px;
    line-height: 21px;
    cursor: pointer;
}

.app:hover{
    background:  #3bb188;
}

.inst:hover {
    background: radial-gradient(circle farthest-corner at 35% 90%, #f3ac30, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #eea62a, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #3940cc, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #1019c5, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #8329c7, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #7013b8, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d31266, transparent), linear-gradient(#3424c2, #b81785 30%, #da1c42 50%, #f05a15 70%, #f0a42b 100%);
}

.zap1 {
    text-decoration: none;
    display: block;
    height: 0px;
}

.inst1 {
    text-decoration: none;
    display: block;
    height: 0px;
}


footer {
    border-top: 1px solid #1019c5;
    width: 500px;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    text-align: center;  
    margin-top: 100px;
    padding: 10px;   
    align-self: center;
    font-weight: bold;
}

footer a {
    text-decoration: none;
    font-weight: bold;
    color: #202c7e;

}

fotter a:hover {
    cursor: pointer;
}

